body {
	background-color: #FF530D;
	font-family: 'Montserrat', sans-serif;

}
 h1 {
 	text-align: center;
 	color:#fff;
 	margin:0;
 }
 button {
 	height:45px;
 	width:120px;
 	color:#fff;
 	border:1px solid #fff;
 	cursor:pointer;
 	background-color: #FF530D;
 }